<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>
<body>
    <h2>Write new chat..</h2>
    <form action="/chats" method="POST">
        <input type="text" name="from" placeholder="Write senders name">
        <br><br>
        <input type="text" name="to" placeholder="Write receivers name">
        <br><br>
        <textarea name="msg" placeholder="Write your message" cols="50" rows="5"></textarea>
        <br><br>
        <button>Submit</button>
    </form>
</body>
</html>